@font-face {
  font-family: 'PlayfiarDisplay';
  src: url('/PlayfairDisplaySC-Bold.ttf');
}

@font-face {
  font-family: 'PretendardBold';
  src: url('/Pretendard-ExtraBold.woff2');
}

* {
  margin: 0 auto;
  padding: 0;
  background: #000000;
}
